<?xml version="1.0"?>
<config>
    <modules>
        <Grafikentwicklung_Tracking>
            <version>0.1.0</version>
        </Grafikentwicklung_Tracking>
    </modules>
    <global>
        <helpers>
            <grafikentwicklung_tracking>
                <class>Grafikentwicklung_Tracking_Helper</class>
            </grafikentwicklung_tracking>
            <grafikentwicklung_tracking_session>
                <class>Grafikentwicklung_Tracking_Helper_Session</class>
            </grafikentwicklung_tracking_session>
            <grafikentwicklung_tracking_config>
                <class>Grafikentwicklung_Tracking_Helper_Config</class>
            </grafikentwicklung_tracking_config>
        </helpers>
        <blocks>
            <grafikentwicklung_tracking>
                <class>Grafikentwicklung_Tracking_Block</class>
            </grafikentwicklung_tracking>
        </blocks>
        <template>
            <email>
                <grafikentwicklung_tracking_sales_tracking_notification translate="label" module="grafikentwicklung_tracking">
                    <label>Sales Tracking Notification</label>
                    <file>grafikentwicklung_tracking_sales_tracking_notification.html</file>
                    <type>html</type>
                </grafikentwicklung_tracking_sales_tracking_notification>
                <grafikentwicklung_tracking_empty_cart_notification translate="label" module="grafikentwicklung_tracking">
                    <label>Empty Cart Notification</label>
                    <file>grafikentwicklung_tracking_empty_cart_notification.html</file>
                    <type>html</type>
                </grafikentwicklung_tracking_empty_cart_notification>
            </email>
        </template>
        <models>
            <core>
                <rewrite>
                    <url>Grafikentwicklung_Tracking_Model_Url</url>
                </rewrite>
            </core>
            <grafikentwicklung_tracking>
                <class>Grafikentwicklung_Tracking_Model</class>
                <resourceModel>grafikentwicklung_tracking_resource</resourceModel>
            </grafikentwicklung_tracking>
            <grafikentwicklung_tracking_resource>
                <class>Grafikentwicklung_Tracking_Model_Resource</class>
                <entities>
                    <emptycarttracking>
                        <table>grafikentwicklung_tracking_emptycarttracking</table>
                    </emptycarttracking>
                    <salestracking>
                        <table>grafikentwicklung_tracking_salestracking</table>
                    </salestracking>
                </entities>
            </grafikentwicklung_tracking_resource>
        </models>
        <resources>
            <grafikentwicklung_tracking_setup>
                <setup>
                    <module>Grafikentwicklung_Tracking</module>
                </setup>
            </grafikentwicklung_tracking_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <googleanalyticsplus>
                    <file>grafikentwicklung/tracking/tracking.xml</file>
                </googleanalyticsplus>
            </updates>
        </layout>
        <routers>
            <tracking>
                <use>standard</use>
                <args>
                    <module>Grafikentwicklung_Tracking</module>
                    <frontName>grafikentwicklung_tracking</frontName>
                </args>
            </tracking>
           <checkout>
                <args>
                    <modules>
                        <grafikentwicklung_tracking before="Mage_Checkout_OnepageController">Grafikentwicklung_Tracking_Checkout</grafikentwicklung_tracking>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events>
            <controller_action_postdispatch_checkout_cart_index>
                <observers>
                    <tracking_observer>
                        <type>singleton</type>
                        <class>Grafikentwicklung_Tracking_Model_Observer</class>
                        <method>logEmptyCart</method>
                    </tracking_observer>
                </observers>
            </controller_action_postdispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_success>
                <observers>
                    <tracking_observer>
                        <type>singleton</type>
                        <class>Grafikentwicklung_Tracking_Model_Observer</class>
                        <method>logSalesTrackingTransactionData</method>
                    </tracking_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_success>
            <controller_action_postdispatch_checkout_onepage_success>
                <observers>
                    <tracking_observer>
                        <type>singleton</type>
                        <class>Grafikentwicklung_Tracking_Model_Observer</class>
                        <method>removeEmptyCartLog</method>
                    </tracking_observer>
                </observers>
            </controller_action_postdispatch_checkout_onepage_success>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <grafikentwicklung_tracking before="Mage_Adminhtml">Grafikentwicklung_Tracking_Adminhtml</grafikentwicklung_tracking>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <grafikentwicklung_tracking translate="title">
                                            <title>Grafikentwicklung Tracking Extension</title>
                                        </grafikentwicklung_tracking>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <grafikentwicklung_tracking>
            <excludes>
                <enabled>0</enabled>
            </excludes>
            <debug>
                <checkout_success_debug_enabled>0</checkout_success_debug_enabled>
            </debug>
            <tagmanger>
                <enabled>0</enabled>
                <order_completed_event_name>orderCompleted</order_completed_event_name>
            </tagmanger>
            <moebel_de>
                <enabled>0</enabled>
            </moebel_de>
            <shopzilla>
                <enabled>0</enabled>
            </shopzilla>
            <sales_tracking>
                <enabled>0</enabled>
                <log_file_enabled>1</log_file_enabled>
                <log_file_name>salestracking.log</log_file_name>
                <send_mail_enabled>0</send_mail_enabled>
                <mail_template>grafikentwicklung_tracking_sales_tracking_notification</mail_template>
                <mail_subject>TrackingData</mail_subject>
                <billiger_enabled>0</billiger_enabled>
                <billiger_referer>billiger</billiger_referer>
                <google_enabled>0</google_enabled>
                <google_referer>google</google_referer>
                <moebel_enabled>0</moebel_enabled>
                <moebel_referer>moebel</moebel_referer>
                <preisroboter_enabled>0</preisroboter_enabled>
                <preisroboter_referer>preisroboter</preisroboter_referer>
                <shopwahl_enabled>0</shopwahl_enabled>
                <shopwahl_referer>shopwahl</shopwahl_referer>
                <shopzilla_enabled>0</shopzilla_enabled>
                <shopzilla_referer>shopzilla</shopzilla_referer>
            </sales_tracking>
            <emty_cart_tracking>
                <enabled>0</enabled>
                <log_file_enabled>1</log_file_enabled>
                <log_file_name>emptycart.log</log_file_name>
                <mail_subject>Empty Cart</mail_subject>
                <mail_template>grafikentwicklung_tracking_empty_cart_notification</mail_template>
            </emty_cart_tracking>
        </grafikentwicklung_tracking>
    </default>
</config>